body {
    background-color: #D6B594;
    color: #000000;
    font-family: 'Segoe UI', sans-serif;
}

/* configurar la imatge del banner */
.banner {
    height: 350px;
    margin-top: -15px;
    margin-bottom: -15px;
    background-image: url('BaldoBanner.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* per configurar el color del text dels botons del menu de navegacio, i el color al passar el ratolí per sobre */
nav {
    background-color: #3a201d; 
    padding: 8px 0;
}

nav .nav-link {
    color: #ffffff; 
}
.nav-link:hover {
    color: #000000 !important;  
    text-decoration: underline;
}

/* estils del footer */

.footer-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    margin: 10px;
    object-fit: cover;
}

footer {
    background-color: #3a201d;
}

/* estils per el trivial, per marcar les respostes correctes i incorrectes, i per posar un borde vermell a les respostes incorrectes del formulari de contacte */
.resposta-correcta {
    background-color: #28a745 !important; 
    color: white;
}

.resposta-incorrecta {
    background-color: #dc3545 !important; 
    color: white;
}

.resposta {
    cursor: pointer;
    transition: background 0.3s;
}

.input-error {
    border: 2px solid #dc3545 !important;
    background-color: #ffdce0;
}

/* estils per les etiquetes de cada seccio de la pagina index */

.section-label {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #242627;
    margin-bottom: 0.25rem;
}